.orderButton{
    background-color: rgb(7, 107, 146);
  border: 1px solid rgb(7, 107, 146);
  color:#ffffff;
  border-radius: 5px;
  padding:8px
  }

  .backButton{
    background-color: rgb(7, 107, 146);
  border: 1px solid rgb(7, 107, 146);
  color:#ffffff;
  border-radius: 5px;
  padding:8px;
  }